* {
  margin: 0;
  padding: 0;
}

/*  *********** BACKGROUND SECTION ************* */
.background-section {
  width: 100%;
  height: 750px;
  background-image: url(/image/Background\ pattern.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

/*  *********** HEADER SECTION ************* */
.header {
  display: flex;
  justify-content: space-between;
  padding: 9px 32px 9px 32px;
  margin-top: 25px;
  border-radius: 100px;
  margin-left: 35px;
  border: solid 1px #f2f4f8;
  background: linear-gradient(0deg, #f2f4f7, #f2f4f7),
    linear-gradient(0deg, #d0d5dd, #d0d5dd);
  width: 90%;
  border: solid 1px#D0D5DD;
  /* margin-bottom: 5rem; */
}

.headerList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.logo-modified {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo-text {
  font-family: inter;
  font-size: 20px;
  color: #000;
  font-weight: 900;
  text-transform: capitalize;
  text-decoration: none;
}

.mainLink {
  font-size: 16px;
  text-decoration: none;
  font-family: Inter;
  color: #667085;
  font-weight: 600;
  line-height: 20px;
  text-transform: capitalize;
}

.icon-arrow {
  margin-left: 5px;
}
.button-modified {
  /* display: flex; */
  gap: 8px;
}

.whitebutton {
  font-size: 16px;
  font-family: Inter;
  font-weight: 600;
  background-color: #ffffff;
  padding: 10px 24px 10px 24px;
  border: solid 1px #98a2b3;
  box-shadow: 0px 1px 2px 0px #1018280d;
  border-radius: 50px;
  cursor: pointer;
  line-height: 24px;
}

.blueButton {
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  line-height: 24px;
  padding: 10px 24px 10px 24px;
  background: #175cd3;
  box-shadow: 0px 1px 2px 0px #1018280d;
  border-radius: 50px;
  border: solid 2px #98a2b3;
  cursor: pointer;
}

/*  *********** FFRAME 31 ************* */
.margin-left {
  margin-left: 50px;
}

.frame31 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.6rem;
  gap: 20px;
}

.heading-one {
  font-family: Inter;
  font-weight: bold;
  font-size: 53px;
  line-height: 68px;
  letter-spacing: -2%;
  color: #1d2939;
}

.paragraphy-one {
  font-size: 22px;
  font-weight: 400;
  font-family: Inter;
  line-height: 32px;
  color: #667085;
  margin-top: 30px;
}

.button-discover {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.button--two {
  background-color: #175cd3;
  border-radius: 50px;
  padding: 11px 28px 11px 28px;
  color: #ffffff;
  box-shadow: 0px 1px 2px 0px #1018280d;
  font-family: Inter;
  line-height: 28px;
  font-weight: 600;
  font-size: 16px;
  border: none;
}

.button-paragraphy {
  font-family: inter;
  font-size: 18px;
  color: #175cd3;
  line-height: 28px;
  font-weight: 600;
  text-align: center;
}

.user-review {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
  margin-top: 30px;
}

.stars-reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1px;
}

.pSpan {
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #475467;
}

/*  *********** SOCIAL PROOF SECTION ************* */
.social-paragraph {
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: #475467;
  margin-top: 70px;
}

.social-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 69px;
  margin-top: 35px;
  margin-bottom: 80px;
}

.proof-logos {
  height: 18px;
}

/*  *********** FRAME 10 ************* */
.frame10 {
  position: relative;
}

.subheading {
  font-size: 16px;
  font-weight: 600;
  font-family: Inter;
  line-height: 28px;
  color: #175cd3;
}

.hand-arrow {
  position: absolute;
  height: 170px;
  top: 40%;
  right: 20.5%;
}

.heading-two {
  font-family: Inter;
  font-weight: 600;
  font-size: 44px;
  margin: 10px 0;
  line-height: 60px;
  letter-spacing: -2%;
  color: #1d2939;
}

.frame10-paragraph {
  font-size: 21px;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  color: #667085;
}

/*  *********** FRAME 35 ************* */
.frame35 {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  justify-content: space-between;
  margin-bottom: 130px;
}

.features-div {
  display: grid;
  grid-template-columns: 0.7fr 0.7fr;
  gap: 30px;
}

.feature-photo {
  height: 40px;
  margin-bottom: 8px;
}

.heading-four {
  font-family: inter;
  font-weight: 600;
  font-size: 19px;
  line-height: 26px;
  color: #101828;
}

.features-paragraph {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  font-family: inter;
  color: #475467;
  margin-top: 8px;
}

.rectangle-one {
  width: 80%;
}

/*  *********** TESTIMONIAL SECTION ************* */
.testimonial-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
  align-items: center;
  justify-content: center;
  margin-left: 90px;
  margin-bottom: 7rem;
}

.testimonial-image {
  height: 30px;
}

.stars {
  width: 100px;
  margin-top: 25px;
}

.testimonial-paragraph {
  font-family: Inter;
  font-size: 34px;
  line-height: 50px;
  letter-spacing: -2%;
  color: #101828;
  font-weight: 500;
}

.sarah-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.picture-word {
  display: flex;
  gap: 10px;
}

.two-words {
  display: flex;
  flex-direction: column;
  gap: 1px;
  justify-content: start;
}

.sarah-name {
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
}

.sarah-position {
  font-size: 16px;
  font-family: Inter;
  line-height: 26px;
  font-weight: 400;
  color: #475467;
}

.arrows {
  height: 40px;
  cursor: pointer;
}

.testimonial-photo {
  height: 410px;
}

/*  *********** FRAME 39 SECTION ************* */
.frame39 {
  display: grid;
  grid-template-columns: 0.6fr 0.8fr;
  gap: 20px;
  margin-right: 100px;
}

.subheading-two {
  font-family: Inter;
  font-size: 14px;
  line-height: 26px;
  font-weight: 800;
  color: #175cd3;
}

.heading-twofqs {
  font-size: 35px;
  font-weight: 800;
  font-family: Inter;
  letter-spacing: -2%;
  line-height: 60px;
}

.paragraph-39 {
  font-family: Inter;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  color: #667085;
  margin-top: 12px;
}

.FQA-div {
  display: flex;
  justify-content: space-between;
}

.parentcomponent-heading {
  font-family: inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #101828;
  margin-bottom: 10px;
}

.minus {
  height: 22px;
}

.parent-component {
  font-size: 16px;
  font-weight: 400;
  font-family: Inter;
  line-height: 28px;
  color: #475467;
}

.fqaAccordian-div {
  background: linear-gradient(0deg, #eaecf0, #eaecf0),
    linear-gradient(0deg, #f9fafb, #f9fafb);
  border-radius: 16px;
  padding: 20px;
}

.FQAitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.border-top {
  border-top: solid 1px #eaecf0;

}

.FQA-text {
  font-size: 16px;
  font-family: Inter;
  font-weight: 600;
  color: #101828;
  line-height: 28px;
}

/*  *********** FRAME 40 SECTION ************* */
.frame40 {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  margin-left: 50px;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  align-items: center,
}

.frame40-heading {
  font-size: 40px;
  font-family: Inter;
  line-height: 50px;
  letter-spacing: -2%;
  font-weight: 600;
}

.check-items {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 8px;
  padding-left: 15px;
}

.check-Image {
  height: 25px;
}

.checkItem-text {
  font-size: 22px;
  line-height: 30px;
  font-family: inter;
  font-weight: 400;
  color: #475467;
}

.mockup-image {
  width: 100%;
  height: 500px;
}

/*  *********** SECTION ************* */
.section {
  display: grid;
  grid-template-columns: 0.9fr 0.4fr 0.4fr 0.4fr 0.4fr 0.5fr;
  gap: 10px; 
  margin-top: 60px;
}

.suporting-text {
  font-size: 16px;
  font-family: Inter;
  line-height: 26px;
  color: #475467;
  margin-top: 15px;
  font-weight: bolder;
}

.div1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.parent-component {
  font-size: 14  px;
  line-height: 26px;
  font-family: Inter;
  font-weight: 600;
  color: #475467;
  text-decoration: none;
}

.Apps-Image {
  height: 40px;
  width: 155px;
}
/*  *********** FOOTER SECTION ************* */
.footer-section {
margin-top: 50px;
display: flex;
justify-content: space-between;
align-items: center;
background-color: #F9FAFB;
padding: 40px 0px 40px 0px;
}

.footer-words {
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  font-size: 16px;
  color: #667085;
}

.icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.awesome-icon {
  font-size: 30px;
  color: #98a2b3;
}

.margin-right {
  margin-right: 50px;
}
