* {
  margin: 0;
  padding: 0;
}

/*  *********** BACKGROUND SECTION ************* */
.background-section {
  width: 100%;
  height: 100vh;
  background-image: url(/image/Background\ pattern.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

/*  *********** HEADER SECTION ************* */
.header {
  margin-top: 30px;
  border-radius: 100px;
  margin-left: 70px;
  background-color: #d0d5dd;
  width: 90%;
  height: 10%;
}
