* {
  margin: 0;
  padding: 0;
}

/*  *********** BACKGROUND SECTION ************* */
.background-section {
  width: 100%;
  height: 100%;
  background-image: url(/image/Background\ pattern.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

/*  *********** HEADER SECTION ************* */
.header {
  display: flex;
  justify-content: space-between;
  padding: 9px 32px 9px 32px;
  margin-top: 25px;
  border-radius: 100px;
  margin-left: 35px;
  border: solid 1px #f2f4f8;
  background: linear-gradient(0deg, #f2f4f7, #f2f4f7),
    linear-gradient(0deg, #d0d5dd, #d0d5dd);
  width: 90%;
  border: solid 1px#D0D5DD;
  /* margin-bottom: 5rem; */
}

.headerList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.logo-modified {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo-text {
  font-family: inter;
  font-size: 20px;
  color: #000;
  font-weight: 900;
  text-transform: capitalize;
}

.mainLink {
  font-size: 16px;
  text-decoration: none;
  font-family: Inter;
  color: #667085;
  font-weight: 600;
  line-height: 20px;
  text-transform: capitalize;
}

.icon-arrow {
  margin-left: 5px;
}
.button-modified {
  /* display: flex; */
  gap: 8px;
}

.whitebutton {
  font-size: 16px;
  font-family: Inter;
  font-weight: 600;
  background-color: #FFFFFF;
  padding: 10px 24px 10px 24px;
  border: solid 1px #98A2B3;
  box-shadow: 0px 1px 2px 0px #1018280D;
  border-radius: 50px;
  cursor: pointer;
  line-height: 24px;
}

.blueButton {
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 24px;
  padding: 10px 24px 10px 24px;
  background: #175CD3;
  box-shadow: 0px 1px 2px 0px #1018280D;
  border-radius: 50px;
  border: solid 2px #98A2B3;
  cursor: pointer;
}

/*  *********** FFRAME 31 ************* */
.frame31 {
display: flex;
justify-content: center;
align-items: center;
margin-top: 5.6rem;
margin-left: 50px;
gap: 40px;
}

.heading-one {
  font-family: Inter;
  font-weight: bold;
  font-size: 55px;
  line-height: 62px;
  letter-spacing: -2%;
  color: #1D2939;
}

  
.paragraphy-one {
 font-size: 20px;
 font-weight: 400;
 font-family: Inter;
 line-height: 32px;
 color: #667085; 
 margin-top: 10px;
}

/*  *********** FRAME TWENTY FIVE ************* */
/* .frame-twentyFive {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background: linear-gradient(0deg, #B2DDFF, #B2DDFF),
  linear-gradient(0deg, #EFF8FF, #EFF8FF);
padding: 10px;  

} */

